<script>



    const uploadBtn = document.getElementById('upload-btn');
    const pictureContainer = document.getElementById('picture-container');
    const uploadLabel = document.getElementById('upload-label');
    const submitContainer = document.getElementById('submit-container');
    const submitBtn = document.getElementById('submit-btn');
    const resetBtn = document.getElementById('reset-btn');
    const picOutput = document.getElementById('picture-container-output'); 
    const formId = document.getElementById('form-id');
    const dlBtn = document.getElementById('dl');
    const outImg = document.getElementById('outimg');

$('body').on('submit','#form-id',function(e){
   e.preventDefault()
   var formData = new FormData(this);

   console.log(formData);
   $.ajax({
         url:'{% url "core:ajaxup" %}',
         type: 'POST',
         data: formData,
         success: function (response) {
            
            var piout = $('#picture-container-output')
            
            // var imgsrc = "<img id ='outimg' src = "+response.im+"/>";
            // piout.append(imgsrc);
            $('#outimg').attr('src',response.im);
            
            $('#dlimg').attr("href",response.im);
            piout.css('display','block');
            $('#outimg').css('display','block');
            $('#dl').css('display','block');
            if (response.im){
                $('#bg-img').css('display','block');
            }
            // $('#submit-btn').css('display','none');
         },
         error: function (response) {
         },
        cache: false,
        contentType: false,
        processData: false
   });
   
});
$('#bg-img').change(function(event) {
  var file = event.target.files[0];

  // Check if a file is selected
  if (file) {
    console.log('yes');
    var url = URL.createObjectURL(file);
    $('#picture-container-output').attr('style', 'background-image:url(' + url + ')');
    };
});

// $('#reset-btn').click(function(){
//     $('#upload-btn').val('');
//     $('#upload-btn').css('display','none');
//     $('#picture-container').empty();
//     $('#picture-container').css({'display':'none','opacity':'0'});
//     $('#upload-label').css('display','block');
//     $('#picture-container').css('display','none');
//     $('#picture-container-output').css('display','none');
//     $('#reset-btn').css('display','none');
//     $('#submit-container').css('display','none');
//     $('#dl').css('display','none');
//     console.log('yes')
    
//    });


    //     var data = new FormData();
    //     data.append("file",$("input[id^='upload-btn']")[0].files[0]);
    //     $.ajax({
    //         method:'POST',
    //         url:'{% url "core:ajaxup" %}',
    //         processDATA:false,
    //         contentType:false,
    //         mimeType:"multipart/form-data",
    //         data:data,
    //         success:function(response){
    //             console.log(response.im)
    //         }

    //     })
    // }

    // btn.on('click',function(e){
    //     e.preventDefault();
    //     var img = $('#upload-btn').val();
    //     console.log(img)

    //     $.ajax({
    //         type: 'GET',
    //         url: '{% url "core:ajaxup" %}',
    //         data: {img:img },
    //         dataType: 'json',
    //         success: function(data){
    //             console.log(data.im)
                
    //         }            
    //       });
    // });
   
    uploadBtn.addEventListener('change', function(event) {
        const file = event.target.files[0];
        const reader = new FileReader();

        reader.onloadstart = function() {
            // Show loading effect
            pictureContainer.style.backgroundImage = "none";
            pictureContainer.innerHTML = "Uploading...";
        };

        reader.onload = function(e) {
            pictureContainer.innerHTML = '';
            pictureContainer.style.backgroundImage = `url(${e.target.result})`;
            uploadLabel.style.display = 'none';
            pictureContainer.style.opacity = '1';
            submitContainer.style.display = 'block';
            resetBtn.style.display = 'block'
        };

        reader.readAsDataURL(file);
    });

    resetBtn.addEventListener('click', resetPage);

    function resetPage() {
        uploadBtn.value = ''; // Reset the file input value
        // uploadBtn.style.display='block';
        pictureContainer.innerHTML = ''; // Clear the image container
        pictureContainer.style.opacity = '0';
        uploadLabel.style.display = 'block';
        submitContainer.style.display = 'none';
        picOutput.style.display='none';
        picOutput.style.innerHTML='';
        resetBtn.style.display = 'none';
        dlBtn.style.display = 'none';
        pictureContainer.style.backgroundImage='';
        pictureContainer.style.display = 'block';
        outImg.src="";
        
        
    }

    window.onbeforeunload = function() {
        // Clear the file input value and image container on browser reload
        uploadBtn.value = '';
        pictureContainer.innerHTML = '';
       
    };


// submitBtn.addEventListener('click',function(e){
//     pictureContainer.style.backgroundImage = "url('{{output.img.url}}')"
// });
//add test code
// submitBtn.addEventListener('click',OutputImg);
// function OutputImg(){
//     pictureContainer.style.backgroundImage = "";
//     picOutput.style.display = 'block';
//     uploadLabel.style.display = 'none';

// };

</script>