{% extends 'base.html' %}
{% load static %}
{% block content %}


<nav class="navbar navbar-light bg-primary">
    <a class="navbar-brand" href="#">
      <img src="/docs/4.0/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">
      Bootstrap
    </a>
</nav>

<div id="main-container">
    <div id="picture-container"></div>
    <div id="picture-container-output" {% if output %} style="display:block;"{% else %} style = "display:none"{% endif %}><img src = "{{output.img.url}}"/></div>
    <form method="post" id="form-id" enctype="multipart/form-data">
       

        <label for="upload-btn" id="upload-label" {% if output %} style="display:none;"{% else %} style = "display:block"{% endif %}>
            <input type="file" name="img" accept="image/*" required="" id="upload-btn">
            <i class="fa-solid fa-circle-plus fa-2xl"></i> <span>Upload Photos</span>
        </label>

        <div id="submit-container">
            <button type="submit" class="btn btn-primary" id="submit-btn">Submit</button>
            
        </div>
        <div id="rdbtn">
            <i {% if output %} style="display:block;"{% else %} style = "display:none"{% endif %} id="reset-btn" title="Reset" class="fa-solid fa-rotate-right fa-2xl"></i><a href="{{output.img.url}}" download><i id="dl" {% if output %} style="display:block;"{% else %} style = "display:none";{% endif %} title="Download" class="fa-sharp fa-solid fa-arrow-down fa-2xl dl"></i></a>
        </div>

    </form>
</div>





<script>



    const uploadBtn = document.getElementById('upload-btn');
    const pictureContainer = document.getElementById('picture-container');
    const uploadLabel = document.getElementById('upload-label');
    const submitContainer = document.getElementById('submit-container');
    const submitBtn = document.getElementById('submit-btn');
    const resetBtn = document.getElementById('reset-btn');
    const picOutput = document.getElementById('picture-container-output'); 
    const formId = document.getElementById('form-id');
    const dlBtn = document.getElementById('dl');

    uploadBtn.addEventListener('change', function(event) {
        const file = event.target.files[0];
        const reader = new FileReader();

        reader.onloadstart = function() {
            // Show loading effect
            pictureContainer.style.backgroundImage = "none";
            pictureContainer.innerHTML = "Uploading...";
        };

        reader.onload = function(e) {
            pictureContainer.innerHTML = '';
            pictureContainer.style.backgroundImage = `url(${e.target.result})`;
            uploadLabel.style.display = 'none';
            pictureContainer.style.opacity = '1';
            submitContainer.style.display = 'block';
            resetBtn.style.display = 'block'
        };

        reader.readAsDataURL(file);
    });

    resetBtn.addEventListener('click', resetPage);

    function resetPage() {
        uploadBtn.value = ''; // Reset the file input value
        pictureContainer.innerHTML = ''; // Clear the image container
        pictureContainer.style.opacity = '0';
        uploadLabel.style.display = 'block';
        submitContainer.style.display = 'none';
        picOutput.style.display='none';
        resetBtn.style.display = 'none';
        dlBtn.style.display = 'none';
    }

    window.onbeforeunload = function() {
        // Clear the file input value and image container on browser reload
        uploadBtn.value = '';
        pictureContainer.innerHTML = '';
    };


// submitBtn.addEventListener('click',function(e){
//     pictureContainer.style.backgroundImage = "url('{{output.img.url}}')"
// });
//add test code
// submitBtn.addEventListener('click',OutputImg);
// function OutputImg(){
//     pictureContainer.style.backgroundImage = "";
//     picOutput.style.display = 'block';
//     uploadLabel.style.display = 'none';

// };

</script>

{% endblock %}