{% extends 'base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/container-style.css' %}">
<nav class="navbar navbar-light bg-primary">
    <a class="navbar-brand" href="#">
      <img src="/docs/4.0/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">
      DjangoHere
    </a>
</nav>

<div id="main-container">
    <!-- <div id ="bg-img"><input type="file" name="bgimg" accept="image/*" required="" id="bgimg"></div> -->
    <div id="picture-container"></div>
    <div id="picture-container-output"><img id ="outimg" src=""/></div>
    <form method="post" id="form-id" enctype="multipart/form-data">
       
        
        <label for="upload-btn" id="upload-label">
            <input type="file" name="img" accept="image/*" required="" id="upload-btn">
            <i class="fa-solid fa-circle-plus fa-2xl"></i> <span>Upload Photos</span>
        </label>

        <div id="submit-container">
            <button type="submit"  class="btn btn-primary submit" id="submit-btn">Submit</button>
            
        </div>
        <div id="rdbtn">
            <i id="reset-btn" title="Reset" class="fa-solid fa-rotate-right fa-2xl"></i><a id="dlimg" href="" download><i id="dl"  title="Download" class="fa-sharp fa-solid fa-arrow-down fa-2xl dl"></i></a>
        </div>

    </form>
</div>




<script src="{% static 'js/container-style.js' %}"></script>

{% endblock %}